<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--Spring 申明-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <!--taobao appkey 配置-->
  <appSettings>
    <!--阿里大鱼 appkey 配置-->
    <add key="alidayu_url" value="http://gw.api.taobao.com/router/rest"/>
    <add key="alidayu_appkey" value="23285720"/>
    <add key="alidayu_secret" value="22679cd92f51c7a1472b942bf1977947"/>
    <!--淘宝客 appkey 配置-->
    <add key="taoke_url" value="http://gw.api.taobao.com/router/rest"/>
    <add key="taoke_appkey" value="23227736"/>
    <add key="taoke_secret" value="5660805cf27df1d6099261fe77ec9404"/>
    <add key="ProgressBarSleep" value="10"/>
    <!--微信 appkey 配置-->
    <add key="appid" value="wxac7fa4983c2a4986"/>
    <add key="secret" value="a6e6dc2bd21c43d94f837cbf6a5a7bac"/>
    <add key="url_token" value="123456"/>
    <!--<add key="itemDetaile_url" value="221a4273q7.imwork.net/weixin/ItemDetaile.aspx" />-->
    <add key="itemDetaile_url" value="daocaoman.com/weixin/ItemDetaile.aspx"/>
  </appSettings>
  <!--Spring-->
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="~/Configs/CommonDao.xml"/>
      <resource uri="~/Configs/Factory.xml"/>
      <resource uri="~/Configs/Nhibernate.xml"/>
    </context>
    <!--必须有的-->
    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database"/>
  </spring>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>