.header {
    width: 100%;
    height: 206px;
    background: url(../Style/Images/top_bg.jpg) repeat-x scroll left top;
    border-bottom: 0px solid #808080;
    background-color: #fff;
}

.site-nav {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #d5d5d5;
}
.site-nav-bd {
    height: 34px;
    line-height: 35px;
}
.site-nav-bd ul {
    margin: 0;
    padding: 0;
    height: 35px;
    position: relative;
    z-index: 999;
}
.site-nav-bd ul li {
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 70px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.site-nav-bd-left {
    float: left;
    max-width: 500px;
}
.site-nav-bd-right {
    float: right;
    max-width: 700px;
}

.panelLogin, .panelMember {
    float: left;
}
.top_line {
    float: right;
    display: inline-block;
}

/*J_SiteNav end*/

.superbanner-inner {
    padding-top: 3px;
}
.sup-banner {
    float: left;
    position: relative;
}

.showAds {
    position: absolute;
    bottom: 5px;
    left: 0px;
    font-size: 10px;
}
.showAds span {
    color: #808080;
    font-weight: 700;
    
    /*background-color:#d5d5d5;*/
}

/* J_SuperBanner end */

.tbh-logo {
    float: left;
}
.tbh-qr-wrapper {
    position: absolute;
    top: 0;
    right: 0px;
}
.cup .top {
    padding-bottom: 9px;
}
.top {
    background-color: #FFF;
    padding-top: 24px;
    height: 97px
}

.search-bd .search-triggers li { /**/
    color: #F40;
    text-align: center;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    cursor: pointer;
}
.search-bd .search-panel .search-button { /*搜索按钮*/
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 74px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-bd .search-panel .search-button .btn-search {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    height: 100%;
    border: none;
    width: 100%;
}

.tb-bg {
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
}

.search-bd .search-panel .search-common-panel {
    margin-right: 74px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    height: 36px;
}
.search-bd .search-panel .search-common-panel .search-combobox-input-wrap {
    height: 36px;
    overflow: hidden;
    width: 100%;
}
.search-combobox-input-wrap {
    vertical-align: middle;
    position: relative;
}
.search-bd .search-panel .search-common-panel .q {
    padding: 6px 0;
    text-indent: 10px;
    height: 24px;
    line-height: 24px;
    width: 100%;
    border: none;
    outline: 0;
    background: #fff;
}

.tbh-qr {
    position: relative;
}
.play-11 .play-normal {
    display: block;
    width: 120px;
    height: 120px;
}
.play-11 a {
    text-indent: -99999px;
    position: relative;
}

.search-ft {
    position: relative;
    padding: 5px 41px 0 0;
    height: 20px;
}
.search-hots-lines {
    height: 46px;
    position: relative;
}
.search-hots-fline, .search-hots-sline {
    height: 18px;
    line-height: 18px;
    margin-bottom: 5px;
}
.search-hots-fline a {
    white-space: nowrap;
}

/*J_Top end*/

.tbh-nav {
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
}
.tbh-nav .nav {
    height: 30px;
    line-height: 30px;
    position: relative;
    color: #fff;
}
.tbh-nav h2 {
    float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    background: #ff5000;
}
.tbh-nav ul {
    /*position: relative;
z-index: 5;*/
}
.tbh-nav .nav-hd {
    /*float:left;
font-size:16px;
font-weight:700;*/
}
.tbh-nav li {
    /*float: left;
display:inline;*/
}
.tbh-nav .nav-hd li {
    margin: 0 3px;
    text-align: center;
    padding: 0 4px;
}
.tbh-nav .nav-hd a {
    font-size: 16px;
}
.tbh-nav li a {
    color: inherit;
}
.tbh-nav .nav-bd a, .tbh-nav .nav-hd a {
    float: left;
    display: inline;
    padding: 0 5px;
    font-weight: 700;
    line-height: 30px;
}
.tbh-nav .nav-bd li {
    margin-left: 7px;
    line-height: 30px;
}
.tbh-nav .nav-bd a {
    font-size: 14px;
}
.tbh-nav .right {
    float: right;
    width: 10%;
    min-width: 250px;
    overflow: auto;
}

/* J_Nav end */
.screen-outer {
    position:relative;
}
.main {
    float:left;
    /*width: 100%;*/
    /*max-width: 1000px;*/
}
.col-right {
    /*float: right;
    width: 14%;
    min-width:300px;*/
    position: absolute;
    top:10px;
    right: 0px;
    width: 290px;
    border: 0px solid;
    height: 522px;
}
.main-inner {
    position: relative;
}
.main .core {
    margin-left: 10px;
    margin-top: 10px;
    position:relative;
    /*float: left;*/
    /*top:10px;*/
    left:10px;
    /*max-width: 1200px;*/
    min-width: 150px;
    /*margin: auto;*/
    overflow: hidden;

    /*position: absolute;*/
    /*top: 10px;
    left: 200px;
    height: 512px;
    border: 0px solid;*/
}
.sub-column1 {
    /*position: relative;*/
    float: right;
    position: absolute;
    top: 0px;
    right: 270px;
    width: 160px;
    height: 512px;
    margin-right: 10px;
    margin-left:10px;
    margin-top: 10px;
    border: 1px solid;
}
.tbh-service {
    position: relative;
    float: left;
    width: 190px;
    height: 522px;
    max-width: 190px;
    min-width: 190px;
    margin-right: 0px;
    /*margin-top: 10px;*/
    /*border: 1px solid;*/
}
.J_Service {
    height: 522px;
    position: relative;
    font-size: 14px;
    color: #fff;
    width: 190px;
    background-color: #fff;
}
.service-bd {
    float: left;
    width: 188px;
    border: 1px solid #ff5000;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 3px;
}
.service-bd li {
    overflow: hidden;
    line-height: 32px;
    height: 32px;
    padding-left: 20px;
    padding-right: 18px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
    color: #666;
}
.service-bd a {
    /*color: #666;*/
}
.J_Service .service-bd li:hover {
    background-color: #ffe4dc;
    color: #ff5000;
}
.service-bd li .gengduo {
    position: absolute;
    right: 10px;
    font-size: 10px;
}
/*J_Service end*/

.tbh-promo {
    width: 100%;
    height: 280px;
    background-color:none;
    /*position: relative;*/
}
.promo {
    margin-top: 0px;
    margin-left: 0px;
}
.promo-bd {
    margin: 0px;
    width: auto;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.promo .promo-bd .promo-list {
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: auto;
    height: 100%;
}
.promo .promo-bd .promo-list .mod {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 3600px;
    left: 50%;
    margin-left: -1800px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

.sld-ft-nav {
    border-radius: 10px;
    position: absolute;
    bottom: -265px;
    height: 13px;
    text-align: center;
    font-size: 0;
    left: 50%;
    margin-left: -56px;
    background-color: rgba(255,255,255,.3);
}
.sld-ft-nav li {
    display: inline-block;
    margin: 3px;
}
.sld-ft-nav li a {
    display: block;
    padding-top: 8px;
    width: 8px;
    height: 0;
    border-radius: 50%;
    background: #fff;
}
.sld-ft-nav .on a {
    background: #ff5000;
}
.sld-ft-opt a {
    position: absolute;
    /*top: 50%;*/
    background-color: rgba(0,0,0,.3);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4d000000', GradientType=0);
}
.sld-ft-opt a, .sld-ft-opt i {
    display: block;
    height: 30px;
    width: 20px;
    line-height: 30px;
    color: #fff;
}

.sld-ft-opt a.prev {
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 15px;
    -moz-background-clip: padding;
    border-bottom-right-radius: 15px;
    background-clip: padding-box;
}
.sld-ft-opt .prev {
    left: 0;
}
.sld-ft-opt a.next {
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomleft: 15px;
    -moz-background-clip: padding;
    border-bottom-left-radius: 15px;
    background-clip: padding-box;
}
.sld-ft-opt .next {
    right: 0;
}

.promo .promo-ft {
    width: auto;
    height: 280px;
}
.promo .promo-ft .promo-opt {
    /*position:relative;*/
    width: auto;
    height: 280px;
    /*display:none;*/
}
.promo:hover .promo-ft .promo-opt {
    display: block;
}
.promo .promo-ft .showAds {
bottom:-280px;
}

/*J_Promo end*/


.tmall {
    position: relative;
    width: 650px;
    height: 230px;
    margin-top: 1px;
    overflow: hidden;
    background-color: white;
    /*float: left;*/
}
.tmall-hd {
    font-size: 14px;
    padding-top: 11px;
    border-bottom: 3px solid #ff1648;
    position: relative;
    background-color: #f1f1f1;
}
.tmall-hd .inner {
    height: 18px;
    line-height: 18px;
    position: relative;
}
.tmall-hd .hd-bg {
    width: 136px;
    position: absolute;
    height: 19px;
    background-repeat: no-repeat;
    background-position: 2px 0;
    background-size: 122px 22px;
}
.tmall-hd em {
    font-size: 12px;
    color: #666;
    position: relative;
    margin-left: 136px;
}
.tmall-hd strong {
    position: absolute;
    right: 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.tmall-hd strong i {
    font-style: normal;
    color: #ff1648;
}

.tmall-bd .tmall-list .logos {
    position: relative;
    height: 201px;
    visibility: visible;
    float: left;
    overflow: hidden;
}
.tmall-bd .tmall-list .logos a {
    float: left;
    *display: inline;
    width: 129px;
    height: 57px;
    text-align: center;
    border: 0;
    padding: 5px 0;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    line-height:68px;
}
.tmall-bd .tmall-list .logos img {
    float: left;
    /*margin-top: -2px;
    margin-left: 5px;*/
    margin:8px 22px;
    width: 84px;
    height: auto;
    display: block;
}

.tmall-nav {
    position: absolute;
    top: 29px;
    height: 3px;
    line-height: 0;
    width: 520px;
    font-size: 0;
}
.tmall-nav li:nth-child(1), .tmall-nav li:nth-child(2), .tmall-nav li:nth-child(3), .tmall-nav li:nth-child(4) {
    width: 87px;
}
.tmall-nav li {
    display: inline-block;
    width: 86px;
    height: 3px;
    background: #ff1648;
    overflow: hidden;
    margin: 0;
    line-height: 0;
    font-size: 0;
}
.tmall-nav .selected {
    background: #000;
}

/*J_Tmall end*/

.tbh-tmall {
position:relative;
}
.sub-column {
    float: left;
    width: 324px;
    /*height: 512px;*/
    margin-right: 0px;
    margin-top: 0px;
    position: absolute;
    left: 660px;
    top: 0px;
}
.hb-tanx-down {
    margin-top: 1px;
    height: 230px;
}
.hd-tanx {
    overflow: hidden;
    height: 280px;
    background-color: #FFF;
}
.hb-tanx-down h5 {
    font-size: 12px;
    font-weight: 400;
    background: #f1f1f1;
    color: #a1a1a1;
    line-height: 24px;
    padding-top: 6px;
}

/*J_Tmall_SubColumn end*/

.tbh-member {
    background-size: 290px 145px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(//img.alicdn.com/tfs/TB19tIiOFXXXXbmapXXXXXXXXXX-580-340.png);
}
.member {
    padding: 3px 0 10px 0;
    height: 132px;
    padding-right: inherit;
    text-align: center;
    background-repeat: no-repeat;
}

.member-bd {
    position: relative;
    height: 91px;
}
.member-bd .avatar-wrapper {
    display: block;
    margin: 0 auto;
    width: 74px;
    height: 56px;
}
.member-bd .member-home {
    display: inline-block;
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.member-bd .member-avatar {
    width: 50px;
    height: 50px;
}

.member-bd .member-nick-info {
    display: block;
    line-height: 17px;
    height: 17px;
}
.member .member-nick {
    font-weight: 400;
}

.member-tjb {
    height: 17px;
    line-height: 17px;
}
.member-tjb .h {
    display: inline-block;
    -webkit-border-radius: 9px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 9px;
    -moz-background-clip: padding;
    border-radius: 9px;
    background-clip: padding-box;
    background: #ffe4db;
    padding: 0 10px 0 20px;
    position: relative;
    border: none;
}
.member-tjb .tbh-icon {
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
.member-tjb .club {
    margin-left: 2px;
}
.member-tjb .club {
    margin-left: 2px;
}

.member-ft {
    height: 40px;
    overflow: hidden;
    margin-top: 2px;
    padding-left: 15px;
}
.member-logout {
    height: 25px;
    margin-top: 8px;
}
.member-logout a {
    float: left;
    line-height: 25px;
    width: 75px;
    margin-right: 7px;
    text-align: center;
    color: #FFF;
    border-radius: 1px;
    background-image: -webkit-linear-gradient(left,#ff5000 0,#ff6f06 100%);
    background-image: -o-linear-gradient(left,#ff5000 0,#ff6f06 100%);
    background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5000', endColorstr='#ffff6f06', GradientType=1);
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 14px;
    font-weight: 700;
}
.member-logout .btn-login {
    width: 92px;
}

/*J_Member end*/

.tbh-tipoff a {
    position: relative;
    padding-left: 82px;
    color: #f40;
    display: block;
    height: 26px;
    line-height: 26px;
    background: #ffe4dd;
    font-size: 12px;
}
.tbh-tipoff span {
    position: absolute;
    right: 52px;
    top: 9px;
    line-height: 0;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: 32px;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40;
}

/*J_Tipoff end*/

.tbh-notice {
    height: 98px;
    padding-top: 10px;
    width: 290px;
}
.tbh-notice .notice-hd {
    position: relative;
    height: 24px;
    margin-top: 4px;
    overflow: hidden;
    margin-right: -2px;
    padding: 0 8px;
}
.tbh-notice .notice-hd li {
    float: left;
    line-height: 20px;
    width: 32px;
    text-align: center;
    margin: 0 11px;
}
.tbh-notice .notice-hd .selected {
    padding: 0;
    font-weight: 700;
    border-bottom: 2px solid #F40;
}

.tbh-notice .notice-bd .mod {
    margin: 0 12px;
    height: 50px;
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 6px;
}
.tbh-notice .notice-bd .mod li {
    float: left;
    *display: inline;
    line-height: 25px;
    height: 25px;
    width: 130px;
    overflow: hidden;
}
.tbh-notice .first li:first-child {
    width: 260px;
}

/*J_Notice end*/

.conve {
    border-top: 1px solid #f4f4f4;
    *overflow: hidden;
}
.conve-list {
    width: 294px;
}
.conve-list li {
    float: left;
    width: 71px;
    height: 75px;
    border: 1px solid #f4f4f4;
    border-left-color: transparent;
    border-top-color: transparent;
}
.conve .conve-float {
    overflow: visible;
}
.conve-list li.min {
    width: 70px;
}
.conve-list a {
    padding-top: 1px;
    text-align: center;
    display: block;
}
.conve-list a p {
    /*color: #333;*/
    line-height: 24px;
}
.conve-list a .conve-item-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 11px;
    background-repeat: no-repeat;
}
.conve-list a .conve-item-icon .icon {
    width:24px;
    height:24px;
}

/*J_Conve end*/

.tbh-app {
    padding-top: 1px;
    position: relative;
}
.apps {
    position: relative;
    height: 76px;
}
.apps h3 {
    font-size: 14px;
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 2;
}
.apps .more {
    position: absolute;
    right: 10px;
    font-size: 12px;
    font-weight: 400;
}
.apps .more .tb-ifont {
    position: relative;
    left: -4px;
    font-size: 10px;
}