/*设置字体*/
body, ul, li, p, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
address, cite, dfn, em, var {font-style: normal;}

/*设置边距*/
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

/*设置背景颜色*/
body { background-color: #f4f4f4; min-height: 490px; margin-top: 0px; position: relative; }
div{ /*margin:0 auto;*/ display: block; overflow:hidden; }

ol, ul {list-style: none}
li { float: left;}
.h { color: #ff5000 !important;}
.bd { width: 78%; margin: 0 auto; position: relative;}

/* 图片变成黑白色*/
img { -webkit-filter: grayscale(0);}

/*设置链接样式*/
a{ text-decoration: none; outline: none; cursor: pointer; color:#666 }
a:focus { outline: none; }
a:link { outline: none; }
a:active { outline: none; }
a:visited { outline: none; }
a:hover { outline: none; color: #f40 }

/*加入通用css代码（引入一次就行）*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.clearfix:after {
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.J_Module {
    min-height: 0;
    background-color: #FFF;
}
.tb-ifont {
    font-family: iconfont !important;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
